.topo{
    padding: 20px;
    background: #fff;
    

}
.img-destaque{
    max-width: 300px;

}
.cor-tema{ color: #c01111;
    
}
.banner{
    background-color: #f0b8c8;
    padding: 20px;
    
        
    }
.quem-sou{
    background:  #e94775;
    color: #fff;
}

    .meulink{
        color: #c01111;

    }
    